.contactoLista {
    p {
        display: flex;
        justify-content: map-get($flexbox, alinearHorizontal);
        font-size: 18px;
        font-weight: 400
    }
}

.textoContacto {
    p {

        font-family: $tipografiaPrincipal;
        text-align: center;
        font-size: 18px;
        font-weight: 200;
    }
}

.formularios {
    margin-top: 60px;
    display: flex;
    flex-direction: map-get($flexbox, columna);
    align-items: center;

    div {
        .formularioContacto {
            margin-bottom: 20px;
            width: 380px;
        }
    }

    div {
        .formularioContactoMensaje {
            @extend .formularioContacto;
            height: 200px;
        }
    }

    .botonEnviar {
        height: 50px;
        width: 380px;
        margin-top: 15px;
    }
}

.dondeEncontrarnos {
    font-family: $tipografiaPrincipal;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}

.ubicacionMapa {
    display: flex;
    justify-content: map-get($flexbox, alinearHorizontal);
    margin-top: 30px;
    margin-bottom: 50px;
}