div {
    .subtituloEstudio {
        font-family: $tipografiaPrincipal;
        font-size: 25px;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

.relatoEstudio {
    padding: 2rem;

    p {
        font-family: $tipografiaPrincipal;
        font-size: 18px;
        font-weight: 200;
        text-align: center;
    }
}

.misionContenedor {
    display: flex;
    align-items: map-get($flexbox, alinearVertical);
    margin-top: 50px;
    background: linear-gradient(rgb(237, 237, 237),white);


    div {
        .misionTitulo {
            font-family: $tipografiaPrincipal;
            font-size: 40px;
            text-align: start;
            margin-bottom: 30px;
            margin-top: 30px;
            margin-left: 20px;
        }

        div {

            .misionParrafo {
                font-family: $tipografiaPrincipal;
                font-size: 18px;
                font-weight:400;
                color: rgb(0, 0, 0);
                margin-left: 20px;
                margin-top: 10px;
                margin-right: 50px;
            }
        }
    }
}