.Footer {
    background-color: black;
    margin-top: 30px;
    padding: 5px;

    .contenedorFooter {
        display: flex;
        @include flexbox (space-between, center);
        padding: 15px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 20px;

        div {
            a {
                .footerLogo {
                    height: 120px;
                }
            }
        }

        div {
            .menuFooter {
                color: rgb(255, 255, 255);
                display: flex;
                font-weight: 100;
                margin-top: 8px;

                &:hover {
                    color: rgb(197, 197, 197);
                }
            }
        }

        div {
            .contactoFooter {
                color: white;
                display: flex;
                margin-top: 8px;
                font-weight: 100;

                &:hover {
                    color: rgb(197, 197, 197);
                }
            }
        }

        div {
            .linkRedes {
                font-family: $tipografiaPrincipal;
                font-weight: 100;
                text-align: right;
                color: rgb(255, 255, 255);
                display: flex;
                margin-top: 8px;

                &:hover {
                    color: rgb(197, 197, 197);
                }
            }
        }
    }

    .borde {
        border-top: 1px solid white;

        .derechos {
            font-family: $tipografiaPrincipal;
            font-weight: 100;
            font-size: 12px;
            color: rgb(255, 255, 255);
            text-align: center;
            margin-bottom: 0%;
            margin-top: 5px;
        }
    }

}