.contenedorMenu {

    .imagenLogo {
        height: 120px;
        margin-left: 50px;
    }

    .menuLinkContenedor {
        margin-left: 50px;

        li {
            .menuLink {
                font-family: $tipografiaPrincipal;
                font-weight: 600;
                font-size: 16px;
                color: black;
                margin-left: 18px;

                &:hover {
                    color: rgb(116, 116, 116);
                }
            }
        }
    }
}