.contenedorLocales {
    display: flex;
    align-items: map-get($flexbox, alinearVertical);
    background-color: rgb(235, 235, 235);
    margin-top: 50px;

    div {
        .textoTituloImagen {
            font-family: $tipografiaPrincipal;
            font-size: 50px;
            font-weight: 100;
            color: rgb(0, 0, 0);
            margin-left: 20px;
            margin-right: 50px;
            margin-bottom: 40px;
        }

        .textoImagenLocal {
            font-family: $tipografiaPrincipal;
            font-size: 17px;
            font-weight: 100;
            color: rgb(0, 0, 0);
            margin-left: 20px;
            margin-top: 10px;
            margin-right: 50px;
        }
    }
}

.contenedorMuebles {
    display: flex;
    align-items: map-get($flexbox, alinearVertical);
    background-color: rgb(235, 235, 235);
    margin-top: 30px;
}

div {

    .textoTituloImagen {
        font-family: $tipografiaPrincipal;
        font-size: 50px;
        font-weight: 100;
        color: rgb(0, 0, 0);
        margin-left: 20px;
        margin-right: 50px;
        margin-bottom: 40px;
    }

    .textoImagenMueble {
        font-family: $tipografiaPrincipal;
        font-size: 17px;
        font-weight: 100;
        color: rgb(0, 0, 0);
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 50px;
    }
}

.contenedorExperiencia {
    background-color: rgb(67, 67, 67);
    margin-top: 50PX;

    .subtituloIndex {
        font-weight: 200;
        font-family: $tipografiaPrincipal;
        font-size: 50px;
        text-align: center;
        padding: 50px;
        color: rgb(255, 255, 255)
    }

    .textoExperiencia {
        font-family: $tipografiaPrincipal;
        font-size: 18PX;
        text-align: center;
        font-weight: 300;
        color: rgb(255, 255, 255);
    }

    .contenedorSobreNosotros {
        display: flex;
        justify-content: map-get($flexbox, espaciadoHorizontalIgual);
        padding: 50PX;

        div {
            .experienciaTitulo {
                font-family: $tipografiaPrincipal;
                font-weight: 100;
                text-align: center;
                font-size: 75px;
                color: rgb(255, 255, 255)
            }

            .experienciaSubtitulo {
                font-family: $tipografiaPrincipal;
                text-align: center;
                font-weight: 300;
                color: rgb(255, 255, 255)
            }
        }
    }
}