@media (max-width: 500px) {

    .contenedorFooter {
        display: flex;
        flex-direction: column;
    }

    .menuFooter {
        text-align: center;
    }

    .mensajeEstudio p {
        margin-left: 1px;
        margin-left: 1px;
    }

    .contenedorLocales{
        display: flex;
        flex-direction: column;
    }

    .contenedorMuebles{
        display: flex;
        flex-direction: column-reverse;
    }

}