.contenedorGaleria {
    display: flex;
    flex-direction: map-get($flexbox, columna);
    padding: 5px;

    .comentariosImagenes {
        padding-left: 0%;

        .comentarioSuperiorImagen {
            font-family: $tipografiaPrincipal;
            font-weight: 800;
            font-size: 15px;
        }

        .comentarioInferiorImagen {
            font-family: $tipografiaPrincipal;
            font-weight: 100;
            font-size: 13px;
            color: rgb(118, 118, 118);
        }
    }

}