@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

.tituloPagina {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: 50;
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .contenedorFooter {
    display: flex;
    flex-direction: column;
  }
  .menuFooter {
    text-align: center;
  }
  .relatoEstudio p {
    padding: 0%;
  }
  .contenedorLocales {
    display: flex;
    flex-direction: column;
  }
  .contenedorMuebles {
    display: flex;
    flex-direction: column-reverse;
  }
  .misionContenedor {
    display: flex;
    flex-direction: column;
  }
  .contenedorExperiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contenedorSobreNosotros {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .textoExperiencia {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  .textoTituloImagen {
    font-size: 0px;
  }
  .textoContacto p {
    margin-right: 3px;
    margin-left: 3px;
  }
  .menuHamburguesa {
    margin-right: 50px;
  }
}
.contenedorMenu .imagenLogo {
  height: 120px;
  margin-left: 50px;
}
.contenedorMenu .menuLinkContenedor {
  margin-left: 50px;
}
.contenedorMenu .menuLinkContenedor li .menuLink {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: black;
  margin-left: 18px;
}
.contenedorMenu .menuLinkContenedor li .menuLink:hover {
  color: rgb(116, 116, 116);
}

.Footer {
  background-color: black;
  margin-top: 30px;
  padding: 5px;
}
.Footer .contenedorFooter {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Footer .contenedorFooter div a .footerLogo {
  height: 120px;
}
.Footer .contenedorFooter div .menuFooter {
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: 100;
  margin-top: 8px;
}
.Footer .contenedorFooter div .menuFooter:hover {
  color: rgb(197, 197, 197);
}
.Footer .contenedorFooter div .contactoFooter {
  color: white;
  display: flex;
  margin-top: 8px;
  font-weight: 100;
}
.Footer .contenedorFooter div .contactoFooter:hover {
  color: rgb(197, 197, 197);
}
.Footer .contenedorFooter div .linkRedes {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  text-align: right;
  color: rgb(255, 255, 255);
  display: flex;
  margin-top: 8px;
}
.Footer .contenedorFooter div .linkRedes:hover {
  color: rgb(197, 197, 197);
}
.Footer .borde {
  border-top: 1px solid white;
}
.Footer .borde .derechos {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 0%;
  margin-top: 5px;
}

.contenedorLocales {
  display: flex;
  align-items: center;
  background: linear-gradient(rgb(237, 237, 237), white);
  margin-top: 50px;
}
.contenedorLocales div .textoTituloImagen {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  margin-right: 50px;
  margin-bottom: 40px;
}
.contenedorLocales div .textoImagenLocal {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 50px;
}

.contenedorMuebles {
  display: flex;
  align-items: center;
  background: linear-gradient(rgb(237, 237, 237), white);
  margin-top: 30px;
}

div .textoTituloImagen {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  margin-right: 50px;
  margin-bottom: 40px;
}
div .textoImagenMueble {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 100;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 50px;
}

.contenedorExperiencia {
  background-color: rgb(67, 67, 67);
  margin-top: 50PX;
}
.contenedorExperiencia .subtituloIndex {
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 50px;
  color: rgb(255, 255, 255);
}
.contenedorExperiencia .textoExperiencia {
  font-family: "Open Sans", sans-serif;
  font-size: 18PX;
  text-align: center;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
.contenedorExperiencia .contenedorSobreNosotros {
  display: flex;
  justify-content: space-evenly;
  padding: 50PX;
}
.contenedorExperiencia .contenedorSobreNosotros div .experienciaTitulo {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 75px;
  color: rgb(255, 255, 255);
}
.contenedorExperiencia .contenedorSobreNosotros div .experienciaSubtitulo {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.contenedorGaleria {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.contenedorGaleria .comentariosImagenes {
  padding-left: 0%;
}
.contenedorGaleria .comentariosImagenes .comentarioSuperiorImagen {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 15px;
}
.contenedorGaleria .comentariosImagenes .comentarioInferiorImagen {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 13px;
  color: rgb(118, 118, 118);
}

.contenedorGaleria {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.contenedorGaleria .comentariosImagenes {
  padding-left: 0%;
}
.contenedorGaleria .comentariosImagenes .comentarioSuperiorImagen {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 15px;
}
.contenedorGaleria .comentariosImagenes .comentarioInferiorImagen {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 13px;
  color: rgb(118, 118, 118);
}

div .subtituloEstudio {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.relatoEstudio {
  padding: 2rem;
}
.relatoEstudio p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

.misionContenedor {
  display: flex;
  align-items: center;
  margin-top: 50px;
  background: linear-gradient(rgb(237, 237, 237), white);
}
.misionContenedor div .misionTitulo {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  text-align: start;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 20px;
}
.misionContenedor div div .misionParrafo {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 50px;
}

.contactoLista p {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
}

.textoContacto p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}

.formularios {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formularios div .formularioContacto, .formularios div .formularioContactoMensaje {
  margin-bottom: 20px;
  width: 380px;
}
.formularios div .formularioContactoMensaje {
  height: 200px;
}
.formularios .botonEnviar {
  height: 50px;
  width: 380px;
  margin-top: 15px;
}

.dondeEncontrarnos {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}

.ubicacionMapa {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

/*# sourceMappingURL=styles.css.map */
